body {
  background-color: #ffffff;
  background-image: url(/src/images/background-bar1-color.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.mainFont {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: "large";
}
